/**** Colors ****/
$black: #0f0e11;
$dark-blue: #355070;
$orange: #e56b6f;
$dark-purple: #6d597a;

:export {
    black: $black;
    darkblue: $dark-blue;
    orange: $orange;
    darkpurple: $dark-purple;
}
